{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet"> 
</head>

<body>
    <!--NAVBAR SECTION-->
    <div class="navbar-container">
        <nav class="home-navbar">
                {% if user.is_authenticated %}
                <p>{{user.first_name}}👥 Signed In</p>
                <a href="accounts/logout" class="navtag">Sign Out</a>
                <a href="accounts/userarticle" class="navtag">My Blogs</a>
                <a href="/blogs" class="navtag">Authors Blogs</a>
                
                
                {% else %}
                <p>👥 User Not Logged In</p>
                <a href="accounts/registration" class="navtag">Sign Up</a>
                <a href="accounts/" class="navtag">Log In</a>
                <a href="/blogs" class="navtag">Authors Blogs</a>
               
                {% endif %}
           
       
           
        </nav>

    </div>

    <div class="form-container">

          <!--AUTOMATED ARTICLE REVIEW SECTION-->
    <form action=" " method="post">
        {% csrf_token %}
        
        <div class="input-holder">
            <label id="article_title_label" for="article_title">Article Title:</label>
            <input required type="text" name="article_title" id="article_title" class="inp-field">
    
        </div>
    
        <div class="input-holder">
            <label for="article_content">Write Down Your Content:</label>
            <br>
            <textarea required name="article_content" id="article_content" cols="120" rows="30" class="inp-field"></textarea>
        
        </div>
    
        <input class="submit-btn" type="submit" value="Review">


    </form>

    </div>

  
    
   
    <br>
    <br>
    <br>
    <br>
    {% if summary  %}

    <p>Summary:{{summary}}</p>
    <br><br><br>
    {% endif %}

    {% if sentiment %}
        <p>Sentiment:{{sentiment}}</p>
        <br><br><br>
    {% endif %}
    


    
</body>

</html>